

.cache
.cargo
.chewing
.local
.pki/nssdb
.rustup
.zim
Downloads
.Xauthority
.bash*
.bspwm.log
.fehbg
.nvidia-settings-rc
.temp
.zcompdump*
.zhistory
.zimrc
.zsh_history
.zshrc.omz-uninstalled-2022-11-16_14-41-55
a.out
.gitconfig
arch-cfg
