

.cache
.cargo
.chewing
.pki/nssdb
.rustup
.zim
Downloads
.Xauthority
.bash*
.bspwm.log
.fehbg
.nvidia-settings-rc
.temp
.zcompdump*
.zhistory
.zimrc
.zsh_history
.zshrc.omz-uninstalled-2022-11-16_14-41-55
a.out
.gitconfig
arch-cfg
plum

.local
!.local/share/fcitx5/rime/default.custom.yaml
.PlayOnLinux
.config/VirtualBox
.config/brinkervii/grapejuice
.config/cef_user_data/Dictionaries
.config/lunarclient
.config/lutris
.config/netcitadel.com
.config/pavucontrol-qt
.config/qBittorrent
.config/tlpui
.config/vlc
.config/QtProject.conf
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.java/fonts
.lunarclient
.minecraft
.steam
.wine
Desktop
Games/genshin-impact
MinecraftServer
VirtualBox VMs
.multimc
.steampath
.steampid
LutrisWine
PlayOnLinux's virtual drives
.config/autostart
.config/feather
.config/r2modman
.config/r2modmanPlus-local
.config/menus/applications-merged

.config/sxhkd

gamemode.ini
.config/unity3d/Unity
iommu
temp
image_file
VMs
Games/minecraft-dungeons
Unity/Hub/Editor/2021.3.15f1
.config/unityhub
.config/btop
.config/btop/btop.log
